@model PALProgrammingWebTest.ViewModels.UsersVM

@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
    @foreach (Users u in Model.All) {
        <li class="list-group-item"><a href="/Edit/@u.UserID">@u.FirstName @u.LastName</a></li>        
    }
</ul>